<ion-modal-view ng-controller="AddSportModalCtrl">
  <ion-header-bar class="bar bar-header">
    <h1 class="title">Add sport</h1>
    <div class="buttons">
      <button class="button button-icon ion-close" ng-click="close()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <div class="form">
        <form ng-submit="create(CreateForm)" name="CreateForm">
          <label class="item item-input">
            <input type="text" ng-model="sport.name" placeholder="Sport" ng-maxlength="50" name="sporttitle" required />
            <p ng-show="CreateForm.sporttitle.$invalid && !CreateForm.sporttitle.$pristine" class="help-block">Sport is required.</p>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="sport.firstAppearance" placeholder="First Appearence" name="appearance" required />
            <p ng-show="CreateForm.appearance.$invalid && !CreateForm.appearance.$pristine" class="help-block">Appearance is required.</p>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="sport.leader" placeholder="Leader" name="leader" required />
            <p ng-show="CreateForm.leader.$invalid && !CreateForm.leader.$pristine" class="help-block">Leader is required.</p>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="sport.achievements" placeholder="Acievements" name="achievements" required />
            <p ng-show="CreateForm.achievements.$invalid && !CreateForm.achievements.$pristine" class="help-block">Achievement is required.</p>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="sport.picture" placeholder="Picture" name="picture" required />
            <p ng-show="CreateForm.picture.$invalid && !CreateForm.picture.$pristine" class="help-block">Picture is required.</p>
          </label>
          <input type="submit" value="Add Sport" class="button button-positive"/>
        </form>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>
