<ion-modal-view ng-controller="LoginModalCtrl">
  <ion-header-bar>
    <h1 class="title" ng-click="LoginModal.hide()">Authorisation</h1>
    <div class="buttons">
      <button class="button button-icon ion-close" ng-click="close()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <div class="authorisation">
        <form ng-submit="auth(authForm)" name="authForm">
          <label class="item item-input">
            <input type="text" ng-model="formAuth.login" placeholder="Login" name="login" required />
          </label> 
          <label class="item item-input">
            <input type="password" ng-model="formAuth.password" placeholder="Password" name="password" required />
          </label>
          <input type="submit" value="Log in!" class="button button-positive"/>
        </form>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>
