.sporticons {
  border: 1px solid black;
}

.timeyear {
  text-align: right;
  float: right;
}

.button {
  width: 30%;
}

.title {
  width: 70%;
}

.examples {
  margin-top: 5px;
}

.image__slide {
  width: 100%;
}

.padding {
  background-color: beige;
}

.slider {
  margin-left: 20px;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.authorisation {
  margin-top: 100px;
}
