<ion-view view-title="Sports">
  <ion-content>
    <ion-refresher pulling-text="Updating" on-refresh="paging.reload()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right items" ng-repeat="sport in sports track by $index" type="item-text-wrap" href="#/tab/sports/{{sport._id}}">
        <img class="sporticons" ng-src="{{sport.pic}}">
        <h2> {{sport.name}} </h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove($index)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="!status.done" on-infinite="paging.next()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
