<ion-view view-title="History">
  <ion-content>
    <ion-refresher pulling-text="Updating" on-refresh="paging.reload()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="olymp in olympics track by $index" type="item-text-wrap" href="#/tab/history/{{olymp._id}}">
        <img class="sporticons" ng-src="{{olymp.picture}}">
        <h2>{{olymp.city}} <span class="timeyear">{{olymp.timeyear}}</span> </h2>
        <h2>{{olymp.year}}</h2>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="!status.done" on-infinite="paging.next()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
