<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2 class="title">Welcome to Olympics Guide</h2>
    <div class="slider">
      <ion-slide-box on-slide-changed="onSlideChanged(index)">
        <ion-slide  ng-repeat="picture in pictures">
          <div class="image__slide">
            <img ng-src={{picture.picture}} style="width: 320px; height: 240px">
            <p>{{picture.text}}</p>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <img ng-src="img/mascot.png" style="width: 320px; height: 240px">
  </ion-content>
</ion-view>
