<ion-view view-title="{{review.city}} {{review.year}}">
  <ion-content class="padding">
    <img ng-src="{{review.picture}}" style="width: 240px; height: 240px; margin: 0, auto">
    <p> {{review.city}} {{review.year}} </p>
    <p> Standings: </p>
    <p> 1st: <img ng-src="{{review.first}}" /> </p>
    <p> 2nd: <img ng-src="{{review.second}}" /> </p>
    <p> 3rd: <img ng-src="{{review.third}}" /> </p>
  </ion-content>
</ion-view>
