<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sports" icon-off="ion-ios-football-outline" icon-on="ion-ios-football" href="#/tab/sports">
    <ion-nav-view name="tab-sports"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <ion-tab title="History" icon-off="ion-android-globe" icon-on="ion-android-globe" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

</ion-tabs>
