<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <label class="item item-input" ng-click="sportShow()">
        Add sport  
      </label>
      <label class="item item-input" ng-click="loginShow()">
        Authorisation  
      </label>
    </ion-list>
  </ion-content>
</ion-view>
