<ion-view view-title="{{sport.name}}">
  <ion-content class="padding">
    <img ng-src="{{sport.pic}}" style="width: 64px; height: 64px">
    <p> {{sport.name}} </p>
    <p> First appearance on the Olympics: {{sport.firstAppearance}} </p>
    <p> Most gold medalist: <img ng-src ="{{sport.leader}}"> </p>
    <p> <img ng-src="img/countries/blr.png" /> : {{sport.achievements}} </p>
  </ion-content>
</ion-view>
